.partners {
  position: relative;
  &::before {
    content: "شركائنا";
    position: absolute;
    bottom: -5%;
    left: 0;
    font-size: 13rem;
    font-weight: bold;
    color: rgba(253, 210, 4, 0.6);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
